doctype html
html(lang='en' style='text-align:center;')
  head
    title Music Top 100 Youtube
    meta(charset='UTF-8' name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    script(src='/script/jquery-3.2.1.min.js')
    script(src='/script/bootstrap.min.js')
    script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    script.
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-6335521540809347",
        enable_page_level_ads: true
      });
      var btnClassNm = 'btn-info';
      var url = document.URL.replace(new RegExp('(\/song)(.*)'), '$1');
      var curIndex = '#{index}', totNum = '#{totNum}'
      var hiddenVideo = false;
      
      function resize(){
        var $listDiv = $('#listDiv');
        var $listSinger = $('#listSinger');
        var targetHeight = window.innerHeight-$('#iframeDiv').height()-90;
        if($listDiv.position().top < 50){
          $listDiv.height(450)
          $listSinger.height(450)
        }else {
          $listDiv.height(targetHeight)
          $listSinger.height(targetHeight)
        }
      }

      function displayTime(){
        var yymmddhh = '#{yymmddhh}'
        if(yymmddhh){
          $('.btn-group e').text(
            [yymmddhh.substr(2,2),yymmddhh.substr(4,2),yymmddhh.substr(6,2)].join('.')+
            ' '+yymmddhh.substr(8,2)+':00'
          )
        }
      }

      function hiddenTempFooter(){
        $('#tempfooter').attr('style', 'display:none;')
      }

      window.onload = function(){

        //temp hidden
        if(url.indexOf('mlchart') == -1){
          $('#tempfooter').attr('style', 'display:inline-block;position:fixed;bottom:0;left:0;right:0;height:30px;background-color:rgba(247, 247, 20, 0.68);')
        }
        displayTime();
        resize();
        callCount();
      }

      function titleClick(){
        window.location.href = url+'/#'+(Number(curIndex)+1)
      }
      function callCount(){
        $.ajax({ 
          type: "get",
          dataType: "json",
          url: url+'/count',
          success: function(data){        
            if(data.err){
              console.log(data.err)
            }else{
              var total = data.total
              var today = data.today
              //- console.log('data',data)
              if(total && today) $('.btn-group i').text('today '+today+'  total '+total)
            }
          }
        });
      }
      function changeMusic(ii, loopR, clicked){
        
        //Video id input
        var $div = $('#playIdDiv');
        if(!$div.attr('hidden')){
          var playIdVal = $div.find('input').val()
          if(playIdVal){
            player.cuePlaylist([playIdVal]);
            //- player.playVideo()
            return;
          }
        }

        var $tr = $($('[name="trtr"]')[ii])
        var $tdInputChk = $('td input:checked');
        // select song condition
        if(!clicked &&
            !$('th[name="select"]').attr('hidden') && 
            !$tr.find('input:checked').length && 
            $tdInputChk.length > 0){
           if(loopR){
            var nextObj = $tdInputChk[Math.floor($tdInputChk.length * Math.random())]
            ii = $(nextObj).parent().parent().attr('id')-1
            $tr = $($('[name="trtr"]')[ii])
           }else{
            nextSong(ii); 
            return;
           }
        }
        
        var $videoIdInput = $tr.find('[name="videoId"]')
          ,videoId = $videoIdInput.val()
          ,song = $tr.find('[name="song"]').text()
          ,singer = $tr.find('[name="singer"]').text()

        $('title').text(song+' - '+singer)
        $('#iframeDiv h4 strong').text(song)
        $('#iframeDiv h4 small').html('&nbsp;&nbsp;'+singer)
        
        $($('[name="trtr"]')[curIndex]).removeClass('success')
        $tr.addClass('success')
        curIndex = ii;
        if(!clicked) window.location.href = url+'/#'+(Number(ii)+1);

        if(videoId){
          player.cuePlaylist([videoId]);
          //- player.playVideo()
          return;
        }
        $.ajax({ 
              type: "get",
              dataType: "json",
              data: {
                yymmddhh: $('#yymmddhh').val(),
                num: $tr.find('[name="num"]').text()
              },
              url: url+'/change',
              success: function(data){        
                  if(data.err){
                    console.log(data.err)
                  }else{
                    $videoIdInput.val(data.url)
                    if(player && player.cuePlaylist){
                      player.cuePlaylist([data.url]);
                      //- player.playVideo()
                    }
                  }
              },
              error: function (error) {
                  console.log('change ajax call error :', $('#yymmddhh').val(),' ',$tr.find('[name="num"]').text(), error);
                  nextSong();
              }
          });
      }
      function onSingerCheck(singer, args){
        var checked = !!args.checked;
        $('#listDiv tbody tr').each(function(i, obj){
          var $obj = $(obj)
          if ($obj.find('[name="singer"]').text() == singer){
            $obj.find('input:checkbox').prop('checked', checked)
          }
        })
      }

      function makeSingerList($listSinger){
        var uniqueSingerList = [];
        var $tbody = $listSinger.find('tbody')
        $tbody.append(
          "<tr>\
            <th><input type='checkbox' onchange='toggleChange2(this)' checked /></td>\
            <th>singer</td>\
          </tr>"
        )
        $('td[name="singer"]').each(function(i,obj){
          var tempSinger = obj.innerHTML;
          if(uniqueSingerList.indexOf(tempSinger) === -1){
            uniqueSingerList.push(tempSinger)
            $tbody.append(
              "<tr>\
                <td><input type='checkbox' onchange='onSingerCheck(\""+tempSinger+"\", this)' checked /></td>\
                <td>"+tempSinger+"</td>\
              </tr>"
            )
          }
        })
      }
      function playIdChk(){
        var $div = $('#playIdDiv');
        $div.attr('hidden', !$div.attr('hidden'))
      }
      function selectSongChk(target){
        var $thselect = $('th[name="select"]');
        var toHidden = !$thselect.attr('hidden');
        $thselect.attr('hidden', toHidden);
        $('td[name="select"]').each(function(i,obj){
          $(obj).attr('hidden', toHidden);
        })

        var $target = $(target);
        var $listSinger = $('#listSinger');
        if(!toHidden){
          $target.removeClass('btn-default'); $target.addClass('btn-warning')
          $('#listDiv').css('width', '70%')
          $listSinger.css('width', '30%')
          $listSinger.css('display', 'inline-block')
          if($listSinger.find('tr').length == 0){
            makeSingerList($listSinger)
          }
        }else{
          $target.removeClass('btn-warning'); $target.addClass('btn-default')
          $('#listDiv').css('width', '100%')
          $listSinger.css('display', 'none')
        }
      }

      function toggleChange(args){
        var checked = !!args.checked;
        $('td[name="select"] input').each(function(i,obj){
          obj.checked = checked;
        })
      }
      function toggleChange2(args){
        var checked = !!args.checked;
        $('#listSinger input:checkbox').each(function(i,obj){
          $(obj).prop('checked', checked)
        })
      }

  body(onresize="resize()")
    div#iframeDiv
      h4(onclick='titleClick()')
        strong #{song}
        span(style='white-space: nowrap')
          small &nbsp;&nbsp;#{singer}
      div#playerEmbedDiv(class="embed-responsive embed-responsive-4by3")
        div#player(class="embed-responsive-item")
          script(src='http://www.youtube.com/player_api')
          script.
            // Create youtube player
            var player;
            // videoId : 공유URL(http://youtu.be/UaY9xbHmVAc)에서 'http://youtu.be'만 제거한 아이디
            // playerVars : autoplay-자동시작, controls-하단컨트롤 사용여부, html5-html5 사용여부
            function onYouTubePlayerAPIReady() {
              player = new YT.Player('player', {
                height: '100%',
                width: '100%',
                videoId: '',
                playerVars: { 'autoplay': 1, 'controls': 1, 'html5': 1 },
                events: {
                  'onReady': onPlayerReady,
                  'onStateChange': onPlayerStateChange,
                  'onError': onPlayerError
                }
              });
            }
            function onPlayerError(event){
              console.log('onPlayerError', event)
              if(!!$('#playIdDiv').attr('hidden')) nextSong();
            }
            // autoplay video
            function onPlayerReady(event) {
              //- setTimeout(function(){ 
                changeMusic(0)
              //- }, 1000);  

              //- console.log('onPlayerReady',event)
              //- player.cuePlaylist(quelist);
              //- event.target.playVideo()
            }
            // when video ends
            function onPlayerStateChange(event) {
              //- console.log('onPlayerStateChange', event.data)
              if(event.data === 5) {
                player.playVideo()
              }else if(event.data === 0) {
              //동영상 끝난 후 이벤트
                var ii = curIndex;
                switch($('#loop').val()){
                  case 's':
                    ii = (Number(curIndex)+1)%totNum;
                    break;
                  case 'r':
                    ii = Math.floor(Math.random()*totNum)
                    break;
                }
                changeMusic(ii)
              }else{
                if(event.data === -1) player.playVideo()
                console.log('player state exception !', event, player)
              }
              //else if(player) player.playVideo()
            }
            function nextSong(arg){
              args = arg === undefined ? curIndex : arg;
              var ii = (Number(args)+1)%totNum;
              var loopR  = $('#loop').val() == 'r';
              if(loopR) ii = Math.floor(Math.random()*totNum)
              changeMusic(ii, loopR)
            }
            function btnClick(obj){
              var $obj = $(obj);
              $('#btnGroup button').each(function(i, each){
                $(each).removeClass(btnClassNm)
              })
              $obj.addClass(btnClassNm)
              $('#loop').val($obj.attr('name'))
            }
            function playerHiddenBtnClick(){
              var $playerHiddenBtn = $('#playerHiddenBtn')
              var $playerEmbedDiv = $('#playerEmbedDiv')
              if(hiddenVideo){
                $playerHiddenBtn.removeClass('btn-warning')
                $playerHiddenBtn.addClass('btn-dark')
                $playerEmbedDiv.removeAttr('style')
                
              }else{
                $playerHiddenBtn.removeClass('btn-dark')
                $playerHiddenBtn.addClass('btn-warning')
                $playerEmbedDiv.css('display', 'none')
              }
              hiddenVideo = !hiddenVideo
              if(hiddenVideo) $('body').css('display', 'inline-block');
              else $('body').removeAttr('style')
              resize()
            }
      div(style='text-align:right; margin:0px 0px -10px 0px;')
        button#playerHiddenBtn.btn.btn-dark(style='padding:0px;font-size:9px;font-weight:bold;' onclick='playerHiddenBtnClick()') hidden
      div.btn-group(role='group')
        button.btn.btn-success(type='button' data-role='toggle-message-sidebar')
          span(class='glyphicon glyphicon-comment' aria-hidden="true")
      div.btn-group#btnGroup(role='group')
        button.btn.btn-default(type='button' onclick='btnClick(this)' name='1' style='font-weight:bold;') 1
        button.btn.btn-default.btn-info(type='button' onclick='btnClick(this)' name='s')
          span(class='glyphicon glyphicon-retweet' aria-hidden="true")
        button.btn.btn-default(type='button' onclick='btnClick(this)' name='r')
          span(class='glyphicon glyphicon-random' aria-hidden="true")
      div.btn-group(role='group')
        button.btn.btn-danger(type='button' onclick='nextSong()')
          span(class='glyphicon glyphicon-forward' aria-hidden="true")
      div(id='playIdDiv' hidden=true)
        input(style='margin-top:10px;' placeholder='Input Video Id')
    div#content
      div.btn-group(style='width:100%')
        small
          e
        div(style='float:right;')
          small
            i
        div(style='float:left;')
          button.btn.btn-default(type='button' onclick='selectSongChk(this)' style='padding:0px;border-color:white') 
            b Select
          button.btn.btn-default(type='button' onclick='playIdChk()' style='padding:0px;border-color:white;margin-left:5px;') 
            b Id
            //- small  (Play only selected Songs)
      div(method='post')
        input(type='hidden' name='loop' id='loop' value='s')
        input(type='hidden' name='yymmddhh' id='yymmddhh' value='#{yymmddhh}')
        table#listDiv(class='table table-striped table-hover' style='display:inline-block;')
          tr
            th(name='select' hidden=true)
              input(type='checkbox' onchange='toggleChange(this)' checked)
            th #
            th song
            th singer
          each obj in result
            tr(name='trtr' id='#{obj.num}')
              input(type='hidden' name='videoId' id='videoId' value='#{obj.videoId}')
              input(type='hidden' name='srch' id='srch' value='#{obj.srch}')
              td(name='select' hidden=true)
                input(type='checkbox' checked)
              td(name='num' onclick='changeMusic("#{obj.num-1}","",1)') #{obj.num}
              td(name='song' onclick='changeMusic("#{obj.num-1}","",1)') #{obj.song} 
              td(name='singer' onclick='changeMusic("#{obj.num-1}","",1)') #{obj.singer}
        table#listSinger(class='table table-striped table-hover' style='display:inline-block;display:none;overflow-x:hidden;')
          tbody
    footer
      p 
        strong(style='cursor:pointer;margin-right:5px;' onclick='window.open("https://github.com/ddulhddul/Top100Music_Crawling")') ddulh
        small ddulhddul@gmail.com
        span(style='margin-left:10px;font-size:11px;' ) contributed by 
          b(style='cursor:pointer;' onclick='window.open("https://github.com/Kitchu0401")') kitchu
    div(style='display:none;' id='tempfooter' onclick='hiddenTempFooter()') 
      b URL changed ! 
      a(href="http://mlchart.ml/song") http://mlchart.ml/
  // - include message module
  // include module/message-http
  include module/message-socket-io
