doctype html
html(lang='en')
  head
    title Music Top 100 Youtube
    meta(charset='UTF-8')
    link(rel='stylesheet', type='text/css', href='/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/style.css')
    script.
      window.onload = function(){
        let trObj = document.getElementsByName('trtr');
        let url = document.URL.replace(new RegExp('(\/song)(.*)'), '$1');
        for(let i = 0, len = trObj.length; i < len; i++){
          trObj[i].onclick = function(){
            window.location.href = url+'/'+trObj[i].getAttribute("index");
          };
        }
      }
  body
    div#iframeDiv
      if url
        div(class="page-header")
          div(class="embed-responsive embed-responsive-4by3")
            iframe(class="embed-responsive-item", src='#{url}')
    div#content
      div#listDiv
        table(class='table table-striped table-hover')
          tr
            th #
            th song
            th singer
          each obj in result
            if obj.class
              tr(class="#{obj.class}" name='trtr' index='#{obj.num}')
                td #{obj.num+1}
                td #{obj.song} 
                td #{obj.singer}
            else
              tr(name='trtr' index='#{obj.num}' focus)
                td #{obj.num+1}
                td #{obj.song} 
                td #{obj.singer}