doctype html
html(lang='en')
  head
    title Music Top 100 Youtube
    meta(charset='UTF-8' name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/style.css')
    script(src='/jquery-3.2.1.min.js')
    script(src='/bootstrap.min.js')
    script.
      var btnClassNm = 'btn-info';
      var url = document.URL.replace(new RegExp('(\/song)(.*)'), '$1');
      var curIndex = '#{index}', totNum = '#{totNum}'
      
      function resize(){
        var $listDiv = $('#listDiv');
        if($listDiv.position().top < 50) $listDiv.height(480)
        else $listDiv.height(window.innerHeight-$('#iframeDiv').height()-50)
      }

      function displayTime(){
        var yymmddhh = '#{yymmddhh}'
        if(yymmddhh){
          $('.btn-group e').text(
            [yymmddhh.substr(2,2),yymmddhh.substr(4,2),yymmddhh.substr(6,2)].join('.')+
            ' '+yymmddhh.substr(8,2)+':00'
          )
        }
      }

      window.onload = function(){
        displayTime();
        resize();
        callCount();
        
        $('#iframeDiv h4').on('click',function(){window.location.href = url+'/#'+(Number(curIndex)+1)})
        $('[name="trtr"]').each(function(i,obj){
          $(obj).on('click',function(){changeMusic(i)})
        })
        
      }
      function callCount(){
        $.ajax({ 
          type: "get",
          dataType: "json",
          url: url+'/count',
          success: function(data){        
            if(data.err){
              console.log(data.err)
            }else{
              var total = data.total
              var today = data.today
              //- console.log('data',data)
              if(total && today) $('.btn-group i').text('today '+today+'  total '+total)
            }
          }
        });
      }
      function changeMusic(ii){
        
        var $tr = $($('[name="trtr"]')[ii])
          ,$videoIdInput = $tr.find('[name="videoId"]')
          ,videoId = $videoIdInput.val()
          ,song = $tr.find('[name="song"]').text()
          ,singer = $tr.find('[name="singer"]').text()

        $('title').text(song+' - '+singer)
        $('#iframeDiv h4 strong').text(song)
        $('#iframeDiv h4 small').html('&nbsp;&nbsp;'+singer)
        
        $($('[name="trtr"]')[curIndex]).removeClass('success')
        $tr.addClass('success')
        curIndex = ii;

        if(videoId){
          player.cuePlaylist([videoId]);
          return;
        }
        $.ajax({ 
              type: "get",
              dataType: "json",
              data: {
                yymmddhh: $('#yymmddhh').val(),
                num: $tr.find('[name="num"]').text()
              },
              url: url+'/change',
              success: function(data){        
                  if(data.err){
                    console.log(data.err)
                  }else{
                    $videoIdInput.val(data.url)
                    if(player && player.cuePlaylist) player.cuePlaylist([data.url]);
                  }
              }
          });
      }
  body(onresize="resize()")
    div#iframeDiv
      h4
        strong #{song}
        span(style='white-space: nowrap')
          small &nbsp;&nbsp;#{singer}
      div(class="embed-responsive embed-responsive-4by3")
        div#player(class="embed-responsive-item")
          script(src='http://www.youtube.com/player_api')
          script.
            // Create youtube player
            var player;
            // videoId : 공유URL(http://youtu.be/UaY9xbHmVAc)에서 'http://youtu.be'만 제거한 아이디
            // playerVars : autoplay-자동시작, controls-하단컨트롤 사용여부, html5-html5 사용여부
            function onYouTubePlayerAPIReady() {
              player = new YT.Player('player', {
                height: '100%',
                width: '100%',
                videoId: '',
                playerVars: { 'autoplay': 1, 'controls': 1, 'html5': 1 },
                events: {
                  'onReady': onPlayerReady,
                  'onStateChange': onPlayerStateChange,
                  'onError': onPlayerError
                }
              });
            }
            function onPlayerError(event){
              console.log('onPlayerError', event)
              nextSong();
            }
            // autoplay video
            function onPlayerReady(event) {
              changeMusic(0)
              //- console.log('onPlayerReady',event)
              //- player.cuePlaylist(quelist);
              //- event.target.playVideo()
            }
            // when video ends
            function onPlayerStateChange(event) {
              //- console.log('onPlayerStateChange', event.data)
              if(event.data === 5) {
                player.playVideo()
              }else if(event.data === 0) {
              //동영상 끝난 후 이벤트
                var ii = curIndex;
                switch($('#loop').val()){
                  case 's':
                    ii = (Number(curIndex)+1)%totNum;
                    break;
                  case 'r':
                    ii = Math.floor(Math.random()*totNum)
                    break;
                }
                changeMusic(ii)
                if(loop && loop!=1) window.location.href = url+'/#'+(Number(ii)+1)
              }
            }
            function nextSong(){
              var ii = (Number(curIndex)+1)%totNum;
              if($('#loop').val() == 'r') ii = Math.floor(Math.random()*totNum)
              changeMusic(ii)
              window.location.href = url+'/#'+(Number(ii)+1)
            }
            function btnClick(obj){
              var $obj = $(obj);
              if($obj.hasClass(btnClassNm)){
                $obj.removeClass(btnClassNm);
                $('#loop').val('')
              }else{
                $('#btnGroup button').each(function(i, each){
                  $(each).removeClass(btnClassNm)
                })
                $obj.addClass(btnClassNm)
                $('#loop').val($obj.attr('name'))
              }
            }
      div.btn-group#btnGroup(role='group', aria-label='...' style="padding: 10px;padding-right:0px;padding-bottom:0px;")
        button.btn.btn-default(type='button' onclick='btnClick(this)' name='1') 1
        button.btn.btn-default(type='button' onclick='btnClick(this)' name='s') Seq
        button.btn.btn-default(type='button' onclick='btnClick(this)' name='r') Rand
      div.btn-group(role='group', aria-label='...' style="padding: 10px;padding-left:10px;padding-bottom:0px;")
        button.btn.btn-danger(type='button' onclick='nextSong()')
          strong >
    div#content
      div.btn-group(style='width:100%')
        div(style='float:right;')
          small
            i
        div(style='float:left;')
          small
            e
      form#listDiv(method='post')
        input(type='hidden' name='loop' id='loop' value='#{loop}')
        input(type='hidden' name='yymmddhh' id='yymmddhh' value='#{yymmddhh}')
        table(class='table table-striped table-hover')
          tr
            th #
            th song
            th singer
          each obj in result
            tr(name='trtr' id='#{obj.num}')
              input(type='hidden' name='videoId' id='videoId' value='#{obj.videoId}')
              input(type='hidden' name='srch' id='srch' value='#{obj.srch}')
              td(name='num') #{obj.num}
              td(name='song') #{obj.song} 
              td(name='singer') #{obj.singer}
    footer
      p 
        strong &nbsp;&nbsp;&nbsp; ddulh&nbsp;
        small ddulhddul@gmail.com 